@model GroupDocs.Annotation.Mvc.Sample.Models.ManageCollaboratorsModel

@{
    ViewBag.Title = "Collaborators";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Document Collaborators</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <h2>Document collaborators</h2>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Annotation")">Back to the main page</a>
            </li>
        </ul>
    </div>
</nav>
@foreach (var collaborator in Model.CollaboratorUser)
{
    using (Html.BeginForm("EditDocumentCollaborator", "Annotation", new {fileId = @Model.FileId}, FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <div class="input-group col-sm-offset-1">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="UserId">User Id:</label>
                    <input type="text" name="UserId" id="UserId" value="@collaborator.Collaborator.UserId" readonly/>
                </div>
                <div class="form-group">
                    <label for="UserName">User login:</label>
                    <input type="text" id="UserName" value="@collaborator.UserName" readonly/>
                </div>
                <div class="form-group">
                    <label for="Id">Collaborator Id:</label>
                    <input type="text" name="Id" id="Id" value="@collaborator.Collaborator.Id" readonly/>
                </div>
                <div class="form-group">
                    <label for="Role">Role:</label>
                    <select name="Role" id="Role" class="form-control" style="width: 300px">
                        @foreach (var role in Model.Roles)
                        {
                            if (role.Name == collaborator.Collaborator.Role)
                            {
                                <option selected="selected" value="@role.Name">
                                    @role.Name
                                </option>
                            }
                            else
                            {
                                <option value="@role.Name">
                                    @role.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>

        </div>
        <div class="input-group col-sm-offset-1">
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" style="margin-bottom: 5px; margin-top: 5px; width: 300px;">Add</button>
                </span>
        </div>
    }
    using (Html.BeginForm("DeleteDocumentCollaborator", "Annotation", new {fileId = @Model.FileId, collaboratorId = collaborator.Collaborator.Id}, FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <div class="input-group col-sm-offset-1">
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" style="margin-bottom: 20px; margin-top: 5px; width: 300px;">Delete</button>
                </span>
        </div>
    }
    <hr/>
}

@using (Html.BeginForm("AddDocumentCollaborator", "Annotation", new {@fileId = @Model.FileId}, FormMethod.Post, new {@class = "form-horizontal"}))
{
    <nav class="navbar navbar-default">
        <h2>Add new document collaborator</h2>
    </nav>
    <div class="input-group col-sm-offset-1">
        <div class="col-md-5">
            <div class="form-group">
                <label for="UserId" class="col-sm-2 control-label">User:</label>
                <select name="UserId" id="UserId" class="form-control" style="width: 300px">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">
                            @user.Login @user.Id
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Role" class="col-sm-2 control-label">Role:</label>
                <select name="Role" id="Role" class="form-control" style="width: 300px">
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Name">
                            @role.Name
                        </option>
                    }
                </select>
            </div>

        </div>
    </div>
    <div class="input-group col-sm-offset-1">
        <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" style="margin-bottom: 20px; margin-top: 5px; width: 300px;">Add</button>
            </span>
    </div>
}
</body>
</html>